<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js" integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="code1.js" defer></script>
    <title>PLACE</title>

</head>
<body>
    <link rel="stylesheet" href="style.css">

    <canvas id="myCanvas" width="200" height="100"></canvas>

    <div id="select_color">
      <div onclick="color_data('green')" class="green" id="select_block"></div>
      <div onclick="color_data('red')" class="red" id="select_block"></div>
      <div onclick="color_data('blue')" class="blue" id="select_block"></div>
      <div onclick="color_data('yellow')" class="yellow" id="select_block"></div>
      <div onclick="color_data('grey')" class="grey" id="select_block"></div>
      <div onclick="color_data('pink')" class="pink" id="select_block"></div>
      <div onclick="color_data('white')" class="white" id="select_block"></div>
      <div onclick="color_data('black')" class="black" id="select_block"></div>
      <div onclick="color_data('brown')" class="brown" id="select_block"></div>
    </div>

    <script>
      var colors = '<%- blocks%>';
      var hgh = '<%-hgh%>';

      colors = JSON.parse(colors)
      hgh = JSON.parse(hgh)

    </script>
</body>
</html>