.column{
    width: 30px;
    height: auto;
    overflow: hidden;
    display: inline-block;
}

.row{
    width: 30px;
    height: 30px;
}

.cell {
    width: 28px;
    height: 29px;
    margin-left: 1px;
    margin-right: 1px;
}

.cell:hover{
    outline: 1px solid black
}

.container{
    white-space: nowrap;
}

#color{
    width: 90px;
    height: 24px;
    position: absolute;
    background: grey;
    display: none;
}

.green,.red,.blue,.yellow {
    width: 20px;
    height: 20px;
    float: left;
    margin: 1px;
    margin-top: 2px;
}

.green:hover ,.red:hover,  .blue:hover,  .yellow:hover {
    background-color: azure;
}

.green {
    background-color: greenyellow;
    margin-left: 2px;
}

.red {
    background-color: red;
}

.blue {
    background-color: rgb(39, 74, 230);
}

.yellow {
    background-color: rgb(232, 184, 51);
}