body {
    margin: 0px;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#myCanvas {
    margin-bottom: 5vw;
}

#select_color {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 30vw;
    right: auto;
    margin-top: 10vw;
    background: grey;
    height: 5vw;
    width: 40vw;
    border: solid 3px black
}

#select_block {
    width: 11.11%;
}

.green:hover ,.red:hover,  .blue:hover,  .yellow:hover ,
.grey:hover ,  .pink:hover, .white:hover, .black:hover, .brown:hover {
    filter: brightness(50%)
}

.white {
    background-color: #FFFFFF;
}

.black {
    background-color: #222222;
}

.brown {
    background-color: #A06A42;
}

.green {
    background-color: greenyellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: rgb(39, 74, 230);
}

.yellow {
    background-color: rgb(232, 184, 51);
}

.pink {
    background-color: rgb(255,141,161);
}

.grey {
    background-color: #A9A9A9;
}